{% extends "header.twig" %}

{% block content %}
<table class="rennerInfo">
    <tbody>
        <tr>
            <td>
                <img src="Img/merkfoto.jpg" alt="Logo {{naam}}">
            </td>
            <td>
                <h1>{{naam}}</h1>
            </td>
        </tr>
        <tr>
            <td>
                <h2>
                    <p>Fietsmerk: {{merk}}</p>
                    <p>{{plaats}} ({{land}})</p>
                </h2>
            </td>
            <td>
                <ul>
                    <h2>Renners 2026:</h2>
                    {% for renner in renners %}
                    <li>
                        {{renner}}
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <h2>Wedstrijden</h2>
                    {% for wedstrijd in wedstrijden %}
                    <li>
                        {{wedstrijd}}
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}