{% extends "header.twig" %}

{% block content %}
<h1>Transfer</h1>
<form action="wielrennerZoeken.php?action=transfer" method="post">
    <table>
        <tbody>
            <tr>
                <td>Renner</td>
                <td>
                    {{wielrenner.voornaam}} {{wielrenner.familienaam}}
                </td>
            </tr>
            <tr>
                <td>Contractjaar:</td>
                <td>
                    {{jaar}}
                </td>
            </tr>
            <tr>
                <td>Ploeg:</td>
                <td>
                    <select name="ploeg" required>
                        {% for ploeg in ploegen %}
                            <option value="{{ploeg.id}}">{{ploeg.naam}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Transfer uitvoeren" name="transfer">
                </td>
            </tr>
        </tbody>
    </table>
</form>
{% endblock %}